<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h2>Hola, el titulo es <span style="color:<%= myColor %>"><%= title %></span></h2>
    <div id="content">
      <%- body -%>
    </div>
  </body>
</html>
